:root {
    --font-text-m: 1.125rem;
    --font-text-l: 1.25rem;
    --font-text-xl: 1.5rem;
    --font-display-l: 13rem;
    --font-display-xl: 14rem;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}
