:root {
    --spacing-none: 0;
    --spacing-25: 0.25rem;
    --spacing-50: 0.5rem;
    --spacing-75: 0.75rem;
    --spacing-100: 1rem;
    --spacing-150: 1.5rem;
    --spacing-200: 2rem;
    --spacing-300: 3rem;
    --spacing-400: 4rem;
    --spacing-500: 5rem;
    --spacing-600: 6rem;
}
