@use './font';
@use './radius';
@use './shadow';
@use './spacing';
@use './z-index';

:root {
    --color-primary: #ff471d;
    --color-secondary: #ddf160;
    --color-background: #f4f4f4;
    --color-foreground: #0a0a0a;
    --color-card: #fff;
    --max-content-width: 1240px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #ff471d;
        --color-secondary: #ddf160;
        --color-background: #0a0a0a;
        --color-foreground: #f4f4f4;
        --color-card: #1c1c1c;
    }
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button,
label {
    cursor: pointer;
    pointer-events: auto;
    color: inherit;
}

a,
button {
    display: flex;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top {
    top: 0;
}

.left {
    left: 0;
}
