---
import MePicture from '@/assets/images/me-talk.jpg';
import { Picture } from 'astro:assets';
---

<section class="introduction-section">
    <Picture
        class="introduction-section-picture"
        src={MePicture}
        alt="Remi Taniel"
        formats={['avif', 'webp']}
        height={300}
        width={300}
        loading="eager"
    />
    <p class="text-l text-fg-subtle uppercase md:text-3xl">
        Hé, tout le monde m'appelle <span class="text-fg-brand line-through"
            >Pinpin</span
        >, mais je suis
    </p>
    <h1 class="name">Remi<br />Taniel</h1>
</section>

<style>
    .introduction-section {
        width: 100%;
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: calc(var(--spacing-safe) * 2) var(--spacing-safe);

        @media (min-width: 768px) {
            align-items: flex-start;
            justify-content: flex-end;
        }

        .name {
            text-transform: uppercase;
            text-wrap: pretty;
            font-weight: 900;
            font-size: 35vw;
            line-height: 1;
            letter-spacing: 0;
            text-align: left;

            @media (min-width: 768px) {
                font-size: 30vh;
            }
        }

        .introduction-section-picture {
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' fill='none'%3E%3Cpath d='M 128 0 C 147.68 0 164.04 14.213 167.377 32.934 C 182.974 22.055 204.594 23.574 218.51 37.49 C 232.426 51.406 233.944 73.025 223.066 88.622 C 241.787 91.96 256 108.32 256 128 C 256 147.68 241.787 164.04 223.065 167.377 C 233.944 182.974 232.426 204.594 218.51 218.51 C 204.594 232.426 182.974 233.944 167.377 223.065 C 164.04 241.787 147.68 256 128 256 C 108.32 256 91.959 241.787 88.622 223.065 C 73.025 233.944 51.406 232.426 37.49 218.51 C 23.574 204.594 22.055 182.974 32.934 167.377 C 14.213 164.04 0 147.68 0 128 C 0 108.32 14.213 91.96 32.934 88.622 C 22.056 73.025 23.574 51.406 37.49 37.49 C 51.406 23.574 73.025 22.055 88.622 32.934 C 91.96 14.213 108.32 0 128 0 Z' fill='rgb(84, 84, 84)'%3E%3C/path%3E%3C/svg%3E");
            mask-repeat: no-repeat;
            mask-size: contain;
            filter: grayscale(1);
            transition: filter 500ms ease-in-out;
            padding-bottom: var(--spacing-200);

            @media (min-width: 768px) {
                position: absolute;
                z-index: 10;
                top: 25%;
                right: 25%;
            }

            &:hover {
                filter: grayscale(0);
            }
        }
    }
</style>
