---
import { Picture } from 'astro:assets';
import MePicture from '@/assets/images/me.webp';
---

<section class="who-section">
    <div class="who-section-picture">
        <Picture
            class="h-full w-full scale-100 object-cover grayscale transition-all duration-700 ease-in-out hover:scale-105 hover:grayscale-0"
            src={MePicture}
            alt="Me"
            layout="constrained"
            formats={['avif', 'webp']}
        />
    </div>
    <div class="who-section-content">
        <h2 class="text-fg-subtle text-base font-bold uppercase md:text-lg">
            Who am I
        </h2>
        <p class="text-2xl text-pretty md:text-3xl">
            I'm a French software engineer rooted in Lille — and proudly so. I
            craft digital products and experiences especially for the web, with
            a sharp eye for craftsmanship & code quality. I experiment
            constantly, share openly through talks, and believe knowledge grows
            when it circulates. On weekends, you'll find me backing LOSC or
            unwinding with a well-deserved beer.
        </p>
    </div>
</section>

<style>
    .who-section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .who-section-picture {
            background-color: var(--color-bg-inverse);
            display: block;
            height: 480px;
            width: 100%;
            overflow: hidden;

            @media (min-width: 768px) {
                height: 720px;
            }
        }

        .who-section-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            padding: var(--spacing-safe);
            gap: var(--spacing-100);
        }
    }
</style>
