---
import { getCollection } from 'astro:content';
import HomeWorkSectionTile from './HomeWorkSectionTile.astro';

const allWorks = (await getCollection('work')).map((w) => w.data);
---

<section class="work-section">
    <div class="px-safe flex flex-col gap-100">
        <h2 class="text-fg-subtle text-6xl font-bold">Mon parcours</h2>
        <p class="text-fg-subtle text-base">
            Actuellement Tech Lead chez Jetdev, au service de Kiabi, je lead une
            équipe d'une dizaine de jeunes développeurs au sein du Digital Lab.
            Notre terrain de jeu : les besoins métier, les vrais, ceux qui te
            font jongler avec des technos variées et t'empêchent de t'ennuyer.
            Mon rôle ? Faire monter l'équipe en compétence autant que les
            produits qu'on livre.
        </p>
    </div>
    <div class="work-grid">
        {allWorks.map((work) => <HomeWorkSectionTile work={work} />)}
    </div>
</section>

<style>
    .work-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-200);
        padding-block: calc(var(--spacing-safe) * 2);

        .work-grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-row-gap: var(--spacing-50);
            grid-column-gap: 2px;
        }
    }
</style>
