.motionUnderline {
    position: relative;

    &Line {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: currentcolor;
        width: 100%;
        height: var(--underline-height, 1px);
    }
}
