name: build
on:
    push:
        tags:
            - '*'
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write
        steps:
            - uses: actions/checkout@v5
            - uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - uses: docker/setup-buildx-action@v3
            - uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: |
                      ghcr.io/synthx/portfolio:${{ github.ref_name }}
                      ghcr.io/synthx/portfolio:latest
