name: build
on:
    push:
        tags:
            - '*'
jobs:
    check:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                  node-version: 22
            - uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - uses: docker/setup-buildx-action@v3
            - uses: docker/build-push-action@v6
              with:
                  context: .
                  tags: ${{ github.repository_owner }}/portfolio:$GITHUB_REF_NAME
