name: check
on:
    pull_request:
    push:
        branches: [main]
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v4
            - run: npm ci
            - run: npm run ci:format
            - run: npm run ci:lint
