---
import { EMAIL_URL, GITHUB_URL, LINKEDIN_URL } from '@/config/constant.ts';
import LocationWrapper from '@/components/LocationWrapper.astro';
import ReusableSvgIcon from '@/components/ReusableSvgIcon.astro';
---

<LocationWrapper />
<footer class="footer">
    <div class="flex flex-col items-start gap-200">
        <div class="flex flex-col gap-25">
            <h2 class="text-fg text-xl">Get in touch</h2>
            <p class="text-fg-subtle text-base">
                Whether it's about work, a side project, nerding out over tech
                and product, or just having a friendly chat. Feel free to drop
                me a message anytime!
            </p>
        </div>
        <div class="flex items-center gap-100">
            <a class="social-link" href={EMAIL_URL}> Email </a>
            <a class="social-link" target="_blank" href={LINKEDIN_URL}>
                Linkedin
                <ReusableSvgIcon name="arrow-right-up-line" />
            </a>
            <a class="social-link" target="_blank" href={GITHUB_URL}>
                Github
                <ReusableSvgIcon name="arrow-right-up-line" />
            </a>
        </div>
    </div>
    <p class="text-fg-subtle text-right text-base">
        © 2026 Remi Taniel. All rights reserved.
    </p>
</footer>

<style>
    .footer {
        padding-inline: var(--spacing-safe);
        padding-bottom: var(--spacing-safe);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--spacing-50);

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        .social-link {
            color: var(--color-fg-subtle);
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 1;
            display: flex;
            align-items: center;

            svg {
                height: 24px;
                width: 24px;
            }

            &:hover {
                color: var(--color-fg-brand);
            }
        }
    }
</style>
